/* COLOURS */
@media(prefers-color-scheme: light) {
    :root {
        --primary: black;
        --background: #F2F2F7;
        --container: white;
        --accent: #007AFF
    }
}
@media(prefers-color-scheme: dark) {
    :root {
        --primary: white;
        --background: black;
        --container: #1C1C1E;
        --accent: #0A84FF
    }
}

/* GENERAL */
:root {
    --content_width: 1200px;
    --animation_duration: 0.35s;

    line-height: 1.5;
    font-size: 1.1rem;
    color: var(--primary);
    background-color: var(--background)
}
* {
    font-family: system-ui;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* CONTENT */
.content {
    max-width: var(--content_width);
    padding: 50px 20px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    background: var(--container);
}
.item_image {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
}
.item_content {
    padding: 10px 15px 15px 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.align_leading {
    align-items: flex-start;
}
.small_gap {
    gap: 10px;
}
.large_gap {
    gap: 20px;
}

/* FONT */
.medium {
    font-weight: 500;
}
.larger {
    font-size: 1.1rem;
}

/* IMAGES */
img {
    display: block;
}
.icon {
    width: 30px;
    height: 30px;
}
@media(prefers-color-scheme: dark) {
    .icon {
        filter: invert(1);
    }
}

/* BUTTONS */
button, a {
    font-size: 1rem;
    border: none;
    background: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
select {
    font-size: 1rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.grid a {
    transition: transform var(--animation_duration);
}
.grid a:hover {
    transform: scale(1.02);
}
p a {
    color: var(--accent);
}

/* FOOTER */
#footer {
    padding-bottom: 50px;
}