<html>
    <head>
        <title>Jack Finnis</title>
		<link rel="icon" href="/static/images/logos/jack_square.jpeg">
		<link rel="apple-touch-icon" href="/static/images/logos/jack_square.jpeg">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/static/styles/style.css">

        <!-- GOOGLE ANALYTICS -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-84Y6475XZM"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag() { dataLayer.push(arguments) }
            gtag('js', new Date())
            gtag('config', 'G-84Y6475XZM')
        </script>
    </head>
    <body>
        <div id="intro">
            <img id="logo" src="/static/images/logos/memoji.jpeg">
            <div>
                <h1>Jack Finnis</h1>
                <p class="larger">Student & Developer</p>
            </div>
            <div id="links">
                <a href="mailto:jack.finnis@icloud.com" target="_blank">
                    <img class="symbol" src="/static/images/symbols/envelope.png">
                </a>
                <a href="https://www.youtube.com/@jackfinnis" target="_blank">
                    <img class="symbol" src="/static/images/symbols/youtube.png">
                </a>
                <a href="https://www.linkedin.com/in/jackfinnis" target="_blank">
                    <img class="symbol" src="/static/images/symbols/linkedin.png">
                </a>
                <a href="https://github.com/jackfinnis" target="_blank">
                    <img class="symbol" src="/static/images/symbols/github.png">
                </a>
                <a href="https://apps.apple.com/developer/1633101066" target="_blank">
                    <img class="symbol" src="/static/images/symbols/appstore.png">
                </a>
            </div>
        </div>

        <div style="max-width:1200px;">
            <div style="padding-top:25px;">
                <h2>About Me</h2>
                <p>I'm a second year computer science undergraduate at Imperial College London with a keen interest in iOS app development using SwiftUI. When I'm not at the desk I enjoy acting, singing, kayaking and digital art.</p>
            </div>
            <div style="padding-top:25px;">
                <h2>My Projects</h2>
                <div id="projects">
                    <div class="project">
                        <img class="project_img" src="/static/images/projects/papa_johns.jpeg">
                        <div class="project_content">
                            <h3>Papa John's Widget</h3>
                            <p>Built a widget for the PapaJohns iOS app which shows your current order status and today's offers.</p>
                        </div>
                    </div>
                    <a class="project" href="https://apps.apple.com/app/6444589175" target="_blank">
                        <img class="project_img" src="/static/images/projects/geo_viewer.jpeg">
                        <div class="project_content">
                            <h3>GeoViewer</h3>
                            <p>GeoJSON Viewer allows you to import and browse GeoJSON data including polylines, polygons and points.</p>
                        </div>
                    </a>
                    <a class="project" href="https://apps.apple.com/app/6443628020" target="_blank">
                        <img class="project_img" src="/static/images/projects/just_cook.jpeg">
                        <div class="project_content">
                            <h3>Just Cook</h3>
                            <p>Store all your recipes, plan meals and manage your shopping list with Just Cook!</p>
                        </div>
                    </a>
                    <a class="project" href="https://apps.apple.com/app/6443831383" target="_blank">
                        <img class="project_img" src="/static/images/projects/cycle_lane.jpeg">
                        <div class="project_content">
                            <h3>CycleLane</h3>
                            <p>CycleLane shows you every TfL cycle route in London on one map.</p>
                        </div>
                    </a>
                    <div class="project">
                        <img class="project_img" src="/static/images/projects/texaco_rewards.jpeg">
                        <div class="project_content">
                            <h3>Texaco Rewards</h3>
                            <p>Built an App Clip for Texaco which provides a fast, streamlined sign up process for their rewards program.</p>
                        </div>
                    </div>
                    <div class="project">
                        <img class="project_img" src="/static/images/projects/ecommunity.jpeg">
                        <div class="project_content">
                            <h3>Ecommunity</h3>
                            <p>Ever thought your actions for the environment won't make a difference? Ecommunity allows you and your friends to post your good deeds for the environment to motivate each other.</p>
                        </div>
                    </div>
                    <a class="project" href="https://apps.apple.com/app/6443834631" target="_blank">
                        <img class="project_img" src="/static/images/projects/paddle_map.jpeg">
                        <div class="project_content">
                            <h3>PaddleMap</h3>
                            <p>PaddleMap helps kayakers navigate over 4,500km of canals and rivers in the UK, including 2,761 locks and weirs.</p>
                        </div>
                    </a>
                    <a class="project" href="https://www.jackfinnis.com" target="_blank">
                        <img class="project_img" src="/static/images/projects/toboggan_ride.jpeg">
                        <div class="project_content">
                            <h3>Jack Finnis Art</h3>
                            <p>I run my own online art business selling charity Christmas and greeting cards.</p>
                        </div>
                    </a>
                    <a class="project" href="https://apps.apple.com/app/1580773042" target="_blank">
                        <img class="project_img" src="/static/images/projects/nccr.jpeg">
                        <div class="project_content">
                            <h3>Norfolk Churches Cycle Route</h3>
                            <p>Built an app for the Norfolk tourist board which displays a 2,000 km cycle route around Norfolk's 632 medieval churches.</p>
                        </div>
                    </a>
                    <a class="project" href="https://www.youtube.com/watch?v=hMWcHcFDjs4" target="_blank">
                        <img class="project_img" src="/static/images/projects/cinema_ticket_booking.jpeg">
                        <div class="project_content">
                            <h3>Deloitte Cinema Booking App</h3>
                            <p>Researched, designed and built a cinema ticket booking app for iOS.</p>
                        </div>
                    </a>
                    <a class="project" href="https://apps.apple.com/app/1604276626" target="_blank">
                        <img class="project_img" src="/static/images/projects/quickfire_questions.jpeg">
                        <div class="project_content">
                            <h3>QuickFire Questions</h3>
                            <p>QuickFire Questions helps students retain the information they learn in class.</p>
                        </div>
                    </a>
                    <a class="project" href="https://www.youtube.com/watch?v=DxXmsUqNYYM" target="_blank">
                        <img class="project_img" src="/static/images/projects/air_quality.jpeg">
                        <div class="project_content">
                            <h3>Machine Learning in R</h3>
                            <p>Analysed air quality data using Neural Networks and Principal Component Analysis in R.</p>
                        </div>
                    </a>
                    <a class="project" href="https://apps.apple.com/app/1582827502" target="_blank">
                        <img class="project_img" src="/static/images/projects/fourier.jpeg">
                        <div class="project_content">
                            <h3>Complex Fourier Series Visualiser</h3>
                            <p>Built an app which trasforms an svg file or image into an epicycle drawing using the complex Fourier series.</p>
                        </div>
                    </a>
                    <a class="project" href="https://apps.apple.com/app/id1581284326" target="_blank">
                        <img class="project_img" src="/static/images/projects/game_of_life.jpeg">
                        <div class="project_content">
                            <h3>Conway's Game of Life</h3>
                            <p>Conway's Game of Life is a cellular automaton which derives each new state based on a set of rules applied to the current state.</p>
                        </div>
                    </a>
                    <a class="project" href="https://www.youtube.com/watch?v=4aYQxJ3Ify8" target="_blank">
                        <img class="project_img" src="/static/images/projects/my_map.jpeg">
                        <div class="project_content">
                            <h3>MyMap: Workout Tracker</h3>
                            <p>MyMap shows you all your walks, runs and cycle routes on one map.</p>
                        </div>
                    </a>
                    <a class="project" href="https://www.youtube.com/watch?v=ieb2mntI3pw" target="_blank">
                        <img class="project_img" src="/static/images/projects/moores_law.jpeg">
                        <div class="project_content">
                            <h3>Moore's Law and the Transistor</h3>
                            <p>Researched the most important company that no-one has heard about: ASML.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <p class="larger" style="padding:20px;">© 2023 Jack Finnis</p>
    </body>
</html>